# Download Daily Prices, PE & PB data from all companies passing Defensive Investor Criteria

In [3]:
%load_ext autoreload
%autoreload 2

import sys
import pandas as pd
import numpy as np
import quandl
import os
import warnings
from datetime import datetime
from tqdm import tqdm_notebook as tqdm
import pandas_datareader as pdr
import matplotlib.pyplot as plt
from collections import defaultdict
from graham import *

warnings.filterwarnings('ignore')
quandl.ApiConfig.api_key = os.getenv('QUANDL_APY_KEY')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## List of ALL companies passing criteria
This just loads companies passing the criteria, saved in a pickle file by the end of [Evolution of companies meeting Defensive Investor criteria notebook](http://localhost:8888/notebooks/Evolution%20of%20companies%20meeting%20Defensive%20Investor%20criteria.ipynb). 

This is a very time consuming process:
- It takes aprox. **1'45"/date** to test the whole Sharadar common stocks' database of 14,000 companies
- This means, for past 10 years, to test all 14,000 companies on a monthly basis (12 x 120) **takes aprox 3h30min**

In [23]:
import pickle

def load_obj(filename):
    with open(filename, 'rb') as f:
        return pickle.load(f)
    
fname = os.path.join(os.getcwd(), 'data_defensive', 'defensive1_companies_20081231_20181231.pkl')
dic = load_obj(fname)

In [24]:
all_companies_passing_in_period = set()
for key, value in dic.items():
    print(f'{key:%Y-%m-%d}: {len(value)} companies pass criteria')
    for el in value:
        all_companies_passing_in_period.add(el)
        
all_companies_passing_in_period = list(all_companies_passing_in_period)
print(f'All period: {len(all_companies_passing_in_period)} companies pass criteria')

2008-12-31: 63 companies pass criteria
2009-01-31: 63 companies pass criteria
2009-02-28: 73 companies pass criteria
2009-03-31: 73 companies pass criteria
2009-04-30: 73 companies pass criteria
2009-05-31: 74 companies pass criteria
2009-06-30: 75 companies pass criteria
2009-07-31: 76 companies pass criteria
2009-08-31: 73 companies pass criteria
2009-09-30: 74 companies pass criteria
2009-10-31: 73 companies pass criteria
2009-11-30: 74 companies pass criteria
2009-12-31: 75 companies pass criteria
2010-01-31: 75 companies pass criteria
2010-02-28: 79 companies pass criteria
2010-03-31: 78 companies pass criteria
2010-04-30: 77 companies pass criteria
2010-05-31: 77 companies pass criteria
2010-06-30: 76 companies pass criteria
2010-07-31: 75 companies pass criteria
2010-08-31: 75 companies pass criteria
2010-09-30: 74 companies pass criteria
2010-10-31: 74 companies pass criteria
2010-11-30: 75 companies pass criteria
2010-12-31: 73 companies pass criteria
2011-01-31: 73 companies pass criteria
2011-02-28: 73 companies pass criteria
2011-03-31: 75 companies pass criteria
2011-04-30: 74 companies pass criteria
2011-05-31: 75 companies pass criteria
2011-06-30: 76 companies pass criteria
2011-07-31: 76 companies pass criteria
2011-08-31: 79 companies pass criteria
2011-09-30: 79 companies pass criteria
2011-10-31: 81 companies pass criteria
2011-11-30: 79 companies pass criteria
2011-12-31: 80 companies pass criteria
2012-01-31: 81 companies pass criteria
2012-02-29: 87 companies pass criteria
2012-03-31: 91 companies pass criteria
2012-04-30: 91 companies pass criteria
2012-05-31: 90 companies pass criteria
2012-06-30: 90 companies pass criteria
2012-07-31: 90 companies pass criteria
2012-08-31: 89 companies pass criteria
2012-09-30: 89 companies pass criteria
2012-10-31: 89 companies pass criteria
2012-11-30: 89 companies pass criteria
2012-12-31: 90 companies pass criteria
2013-01-31: 90 companies pass criteria
2013-02-28: 100 companies pass criteria
2013-03-31: 101 companies pass criteria
2013-04-30: 101 companies pass criteria
2013-05-31: 100 companies pass criteria
2013-06-30: 101 companies pass criteria
2013-07-31: 101 companies pass criteria
2013-08-31: 101 companies pass criteria
2013-09-30: 102 companies pass criteria
2013-10-31: 102 companies pass criteria
2013-11-30: 103 companies pass criteria
2013-12-31: 103 companies pass criteria
2014-01-31: 103 companies pass criteria
2014-02-28: 109 companies pass criteria
2014-03-31: 107 companies pass criteria
2014-04-30: 106 companies pass criteria
2014-05-31: 108 companies pass criteria
2014-06-30: 110 companies pass criteria
2014-07-31: 110 companies pass criteria
2014-08-31: 110 companies pass criteria
2014-09-30: 109 companies pass criteria
2014-10-31: 108 companies pass criteria
2014-11-30: 108 companies pass criteria
2014-12-31: 109 companies pass criteria
2015-01-31: 109 companies pass criteria
2015-02-28: 107 companies pass criteria
2015-03-31: 105 companies pass criteria
2015-04-30: 106 companies pass criteria
2015-05-31: 105 companies pass criteria
2015-06-30: 104 companies pass criteria
2015-07-31: 105 companies pass criteria
2015-08-31: 107 companies pass criteria
2015-09-30: 107 companies pass criteria
2015-10-31: 109 companies pass criteria
2015-11-30: 105 companies pass criteria
2015-12-31: 103 companies pass criteria
2016-01-31: 103 companies pass criteria
2016-02-29: 99 companies pass criteria
2016-03-31: 98 companies pass criteria
2016-04-30: 100 companies pass criteria
2016-05-31: 102 companies pass criteria
2016-06-30: 100 companies pass criteria
2016-07-31: 101 companies pass criteria
2016-08-31: 100 companies pass criteria
2016-09-30: 98 companies pass criteria
2016-10-31: 97 companies pass criteria
2016-11-30: 95 companies pass criteria
2016-12-31: 95 companies pass criteria
2017-01-31: 94 companies pass criteria
2017-02-28: 86 companies pass criteria
2017-03-31: 76 companies pass criteria
2017-04-30: 76 companies pass criteria
2017-05-31: 75 companies pass criteria
2017-06-30: 74 companies pass criteria
2017-07-31: 72 companies pass criteria
2017-08-31: 71 companies pass criteria
2017-09-30: 72 companies pass criteria
2017-10-31: 72 companies pass criteria
2017-11-30: 74 companies pass criteria
2017-12-31: 74 companies pass criteria
2018-01-31: 74 companies pass criteria
2018-02-28: 77 companies pass criteria
2018-03-31: 77 companies pass criteria
2018-04-30: 76 companies pass criteria
2018-05-31: 76 companies pass criteria
2018-06-30: 76 companies pass criteria
2018-07-31: 78 companies pass criteria
2018-08-31: 78 companies pass criteria
2018-09-30: 77 companies pass criteria
2018-10-31: 75 companies pass criteria
2018-11-30: 72 companies pass criteria
2018-12-31: 73 companies pass criteria
All period: 195 companies pass criteria

## Retrieve the data from web and save it on disc

In [25]:
def batch_download_price_pepb(list_companies, filename, start_date, end_date, batch_size=20):
    def batch(iterable, n=1):
        l = len(iterable)
        for ndx in range(0, l, n):
            yield iterable[ndx:min(ndx + n, l)]

    list_dfs = []
    i = 1
    for b in batch(list_companies, batch_size):
        print(f'Batch {i}: from {b[0]} to {b[-1]}')
        df1 = quandl.get_table('SHARADAR/SEP', ticker=b, date={'gte': start_date, 'lte': end_date}, paginate=True,
                            qopts={"columns":['ticker', 'date', 'open', 'high', 'low', 'close', 'volume']})

        df2 = quandl.get_table('SHARADAR/DAILY', ticker=b, date={'gte': start_date, 'lte': end_date}, paginate=True,
                                qopts={"columns":['ticker', 'date', 'pe', 'pb']})
        result = pd.merge(df1, df2, on=['ticker', 'date'])
        result.sort_values(['ticker', 'date'], inplace=True)

        list_dfs.append(result)
        i += 1

    final_df = pd.concat(list_dfs, axis=0)
    final_df.to_csv(filename)
    return final_df

In [26]:
fname = os.path.join(os.getcwd(), 'data_defensive', 'defensive1_pricedata_20081231_20181231.csv')
df = batch_download_price_pepb(all_companies_passing_in_period, fname, start_date=dr[0], end_date=dr[-1])
df

Batch 1: from SIAL to CLC
Batch 2: from BMY to BRC
Batch 3: from SGC to MGEE
Batch 4: from WERN to CAG
Batch 5: from TWIN to UFPI
Batch 6: from THO to WSO
Batch 7: from VGR to LANC
Batch 8: from BCR to PCP
Batch 9: from SEIC to BDX
Batch 10: from BEN to ODC

      ticker       date   open    high     low  close    volume    pe   pb
44539    ACO 2008-12-31  21.41  21.700  20.780  20.95  166814.0  11.4  1.7
44538    ACO 2009-01-02  21.12  22.570  20.860  22.27  142691.0  12.1  1.8
44537    ACO 2009-01-05  22.88  22.940  22.080  22.31  141967.0  12.2  1.8
44536    ACO 2009-01-06  22.50  24.240  22.450  23.45  178156.0  12.8  1.9
44535    ACO 2009-01-07  23.00  23.270  21.580  21.86  104642.0  11.9  1.7
44534    ACO 2009-01-08  21.78  22.740  21.680  22.73  122623.0  12.4  1.8
44533    ACO 2009-01-09  22.57  22.570  20.500  20.59  149614.0  11.2  1.6
44532    ACO 2009-01-12  20.50  20.530  19.110  19.37  193444.0  10.5  1.5
44531    ACO 2009-01-13  19.31  20.100  19.160  19.88  169703.0  10.8  1.6
44530    ACO 2009-01-14  19.59  20.060  18.370  18.57  195881.0  10.1  1.5
44529    ACO 2009-01-15  18.57  19.330  17.585  19.31  154778.0  10.5  1.5
44528    ACO 2009-01-16  19.52  19.700  18.320  19.31  141759.0  10.5  1.5
44527    ACO 2009-01-20  19.03  19.370  17.800  17.83  171560.0   9.7  1.4
44526    ACO 2009-01-21  18.09  19.060  17.510  18.96  145467.0  10.3  1.5
44525    ACO 2009-01-22  18.40  18.810  17.728  17.92  122168.0   9.8  1.4
44524    ACO 2009-01-23  17.52  18.360  17.450  18.05  177146.0   9.8  1.4
44523    ACO 2009-01-26  18.09  19.140  17.680  17.95  161600.0   9.8  1.4
44522    ACO 2009-01-27  18.08  18.940  17.980  18.51  121989.0  10.1  1.5
44521    ACO 2009-01-28  18.74  19.690  18.610  19.36  140283.0  10.5  1.5
44520    ACO 2009-01-29  19.02  19.020  16.740  17.61  214978.0   9.6  1.4
44519    ACO 2009-01-30  17.01  17.170  14.330  14.49  354521.0   7.9  1.2
44518    ACO 2009-02-02  13.87  14.790  13.010  14.55  369410.0   7.9  1.2
44517    ACO 2009-02-03  14.96  15.650  14.550  14.87  256850.0   8.1  1.2
44516    ACO 2009-02-04  14.66  15.040  14.150  14.77  234232.0   8.0  1.2
44515    ACO 2009-02-05  14.55  15.290  14.290  14.82  187348.0   8.1  1.2
44514    ACO 2009-02-06  14.84  15.366  14.840  15.28  167344.0   8.3  1.2
44513    ACO 2009-02-09  15.07  15.660  14.810  15.11  146102.0   8.2  1.2
44512    ACO 2009-02-10  15.00  15.650  13.870  14.19  272145.0   7.7  1.1
44511    ACO 2009-02-11  14.17  14.490  13.640  13.90  124452.0   7.6  1.1
44510    ACO 2009-02-12  13.78  14.500  13.470  14.37  128071.0   7.8  1.1
...      ...        ...    ...     ...     ...    ...       ...   ...  ...
29       SCL 2018-11-15  82.57  85.970  81.940  85.70   95032.0  20.2  2.5
28       SCL 2018-11-16  85.04  86.890  84.970  86.50   80224.0  20.4  2.5
27       SCL 2018-11-19  86.27  86.280  84.230  84.50   39958.0  19.9  2.4
26       SCL 2018-11-20  83.71  84.520  81.660  81.84   55808.0  19.3  2.4
25       SCL 2018-11-21  82.03  83.080  81.260  81.32   84924.0  19.1  2.4
24       SCL 2018-11-23  80.05  81.990  77.700  80.62   67066.0  19.0  2.3
23       SCL 2018-11-26  81.27  82.210  80.790  81.17   30351.0  19.1  2.4
22       SCL 2018-11-27  80.54  81.450  79.780  80.08   57466.0  18.8  2.3
21       SCL 2018-11-28  80.47  82.580  79.220  81.77   92411.0  19.2  2.4
20       SCL 2018-11-29  81.16  82.000  80.020  80.39   71064.0  18.9  2.3
19       SCL 2018-11-30  80.01  81.120  80.010  80.82   89673.0  19.0  2.3
18       SCL 2018-12-03  81.59  81.650  80.150  81.12   71621.0  19.1  2.3
17       SCL 2018-12-04  80.83  81.400  76.470  76.97   69826.0  18.1  2.2
16       SCL 2018-12-06  75.94  77.135  75.106  76.93   93846.0  18.1  2.2
15       SCL 2018-12-07  76.91  78.300  74.080  75.01   71493.0  17.6  2.2
14       SCL 2018-12-10  74.77  75.880  74.140  75.87  161382.0  17.9  2.2
13       SCL 2018-12-11  78.50  79.700  76.930  78.38   90157.0  18.4  2.3
12       SCL 2018-12-12  79.63  80.610  78.555  79.03   72489.0  18.6  2.3
11       SCL 2018-12-13  79.29  79.810  78.240  78.31   64346.0  18.4  2.3
10       SCL 2018-12-14  77.61  78.760  76.780  77.25   97931.0  18.2  2.2
9        SCL 2018-12-17  76.97  77.970  74.090  74.64  111786.0  17.6  2.2
8        SCL 2018-12-18  75.02  76.000  74.500  74.79   89562.0  17.6  2.2
7        SCL 2018-12-19  76.10  76.100  71.790  72.56  149479.0  17.1  2.1
6        SCL 2018-12-20  72.44  74.210  71.380  72.43   87250.0  17.0  2.1
5        SCL 2018-12-21  72.62  73.920  71.420  71.89  242512.0  16.9  2.1
4        SCL 2018-12-24  71.12  71.975  70.060  70.10   53585.0  16.5  2.0
3        SCL 2018-12-26  70.37  72.790  69.170  72.69   59464.0  17.1  2.1
2        SCL 2018-12-27  71.82  73.610  71.080  73.56   65388.0  17.3  2.1
1        SCL 2018-12-28  73.68  74.780  72.851  73.63   51602.0  17.3  2.1
0        SCL 2018-12-31  74.04  74.410  72.780  74.00   58164.0  17.4  2.1

[467475 rows x 9 columns]

In [27]:
df['ticker'].nunique()

194